body {
  font-family: 'Nunito', sans-serif;
  font-weight: 300;
  line-height: 1.6;
}

.h-1 {
  color: linear-gradient(to right, #000428, #004e92);
  font-family: 'Josefin Sans', sans-serif;
  font-size: xx-large;
  font-weight: 700;
  margin: 5rem;
  text-align: center;
}

.h-2 {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 700;
  margin: 1rem;
  text-align: center;
}